body {
	font-family: Roboto;
	color: white;
}
a {
	color: orange;
	text-decoration: none;
}
div.dialogbox {
	color: white;
	background: black;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	top: 50%;
	min-width: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
}
div.dialogbox.error {
	border: 3px solid red;
}
div.dialogbox.success {
	border: 3px solid green;
}
div.messages {
	padding: 2em;
}
.noselect {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}
#content {
	padding: 1em;
}

/* navbar defaults */
.starc.xnavbar {
	margin: 0;
	padding: 0;
	font-size: 80%;
	background: rgba(0,0,0,0.8);
	color: #fa4;
}
.starc.xnavbar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.starc.xnavbar li {
	display: inline-block;
}
.starc.xnavbar a {
	cursor: pointer;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0.8em;
	display: inline-block;
}
.starc.xnavbar a:hover {
	background: #852;
}
.starc.xnavbar span.xnavlabel {
	padding-left: 0.4em;
}

form {
	display: block;
}
label {
	font-size: 80%;
}
table {
	border-collapse: collapse;
}
table, th, td {
	padding-left: 0.3em;
	padding-right: 0.3em;
	border: 1px solid #666;
}
td.num {
	text-align: right;
}
.starc-form > input[type="checkbox"] {
	display: inline-block;
}
label.check {
	display: inline-block;
}
label.field {
	display: inline-block;
	text-align: right;
	margin-right: 0.5em;
	width: 11em;
	margin-top: 5px;
}
label .inputunit {
	margin-left: 0.5em;
	font-style: italic;
}
label .inputunit:before {
	content: "(";
}
label .inputunit:after {
	content: ")";
}
input.starc-setup {
	width: 4em;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type="number"],
input[type="text"],
select {
	border: none;
	border-radius: 3px;
	background: #333;
	color: #fff;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
input.systemdetail {
	width: 10em;
}
div.colorelem input {
	margin: 0;
	margin-right: 5px;
}
div.colorelem {
	display: block;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
div.colorelem:before {
	cursor: move;
	display: inline-block;
	padding-right: 10px;
	font-family: "FontAwesome";
	content: "\f142";
}
.sorthandle {
	cursor: move;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
input.color-type { width: 3em; }
input.color-key { width: 6em; }
input.color-value { width: 6em; }
input.color-color { width: 5em; }

button.close {
	float: right;
	margin: 5px;
}
button.sortbtn {
	color: white;
	background: transparent
}
button {
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 5px;
	margin-right: 5px;
	color: black;
	background: orange;
}
button:hover {
	background: #666;
}

div.itrydata {
	display: inline;
}
div.itrydata > ol {
	margin: 0;
}
div.hidden {
	display: none;
}
div.invis {
	visibility: hidden;
}
span.refuelmark {
	color: orange;
}
span.route.star {
	font-size: 90%;
	cursor: pointer;
}
span.star {
	font-family: Oswald;
}
span.star.stationless {
	font-weight: 300;
}
span.jump.dist {
	margin-left: 0.5em;
	font-size: 70%;
}
span.dist:after { content: " Ly"; }

.ui-menu .dist {
	font-size: 70%;
}

/* jquery style */
.ui-menu
{
	border: 1px solid #666;
	border-radius: 5px;
	background: #000;
	max-width: 30%;
	display: block;
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 2px;
}
.ui-autocomplete
{
	display: none;
	cursor: default;
	position: absolute;
	z-index: 10;
}
.ui-menu .ui-menu-item
{
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.ui-state-focus
{
	background: #fc0;
	color: #000;
}
.ui-menu .ui-menu-item a
{
	display: block;
	padding: 3px 3px 3px 3px;
	text-decoration: none;
	cursor: pointer;
	background-color: Green;
}
.ui-menu .ui-menu-item a:hover
{
	display: block;
	padding: 3px 3px 3px 3px;
	text-decoration: none;
	color: White;
	cursor: pointer;
	background-color: ButtonText;
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

