@import url("base.css");
body {
	font-family: Roboto;
	color: white;
	background-image: url("image/blu.jpg");
	background-repeat: repeat;
}
#mapcontainer {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#mapouter {
	z-index: 0;
	margin: 0;
	padding: 0;
}
#mapinner {
	position:fixed;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
}
#logo, #loading, #fontloader {
	position:fixed;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
}
#logo {
	z-index: 10;
}
#loading {
	z-index: 5;
	border-radius: 5px;
	box-shadow: 0 0 5px #000;
	padding: 1em;
	background: black;
}
#fontloader > span {
	color: black;
}
.starc.xnavbar {
	z-index: 10;
	position: fixed;
	top: 0;
	right: 4em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 5px #000;
}
.starc.omnibox {
	position: fixed;
	z-index: 10;
	top: 1em;
	left: 1em;
}
.starc.omnichild {
}
#search {
	border: 1px solid orange;
	margin-top: 5px;
}
#systeminfo {
	margin-left: 5px;
	margin-right: 5px;
}
#systeminfo > .omnielem {
	border: 0 solid orange;
	border-width: 0 1px 1px 1px;
}
.waypt {
	margin: 0;
	padding: 0;
	background: #333;
}
#waypoints {
	margin-left: 5px;
	margin-right: 5px;
	border: 0 solid orange;
	border-width: 1px 1px 0 1px;
	background: #333;
	max-height: 20%;
	overflow: auto;
}
#itinerary {
	border: 1px solid orange;
	background: rgba(0,0,0,0.8);
	max-height: 50%;
	overflow: auto;
}
.routeline {
	margin-left: 5px;
	margin-right: 5px;
}
.routeline.highlight {
	background: orange;
	color: black;
}
#waypoints:empty, #itinerary:empty {
	display: none;
}
.starc.omnielem {
	background: rgba(0,0,0,0.8);
	padding: 0.3em;
}
input[type="text"].search {
	width: 15em;
}
input[type="text"].star {
	font-family: Oswald;
	font-size: 100%;
	border: none;
	border-radius: 0;
	background: #333;
	color: #fff;
	padding: 5px;
	margin: 0;
}

button.big > div {
	font-size: 70%;
}

svg text {
	pointer-events: none;
}
svg text.inhabited {
	font-family: Oswald;
	font-weight: 400;
}
svg text.stationless {
	font-family: Oswald;
	font-weight: 300;
}
svg text.sector {
	font-family: Crimson-Text;
	font-style: italic;
	font-weight: 400;
}
svg#chart {
	background: transparent;
}
