{{define "about"}}<!DOCTYPE html>
<html lang="en">
<head>
	<title>Harmless Starchart</title>
	<link href='//fonts.googleapis.com/css?family=Oswald:300,400|Roboto:400italic,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{.Prefix}}/pages.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{.Prefix}}/image/starchart.ico"/>
	<style>
		html, body { margin:0; padding:0; }
	</style>
</head>
<body>
	{{template "navbar" .}}
	<div id="content">

	<img src="{{.Prefix}}/image/logo-180.png"/><br/>
	<h1>Starchart for Elite: Dangerous</h1>
	<p>
	<i class="fa fa-warning"></i> Project update is in progress. Some functions described below may not be available.
	</p>
	<p>
	Please be patient, chart load times are high, up to 20 seconds, but charts requested will be cached.
	The map can also be run locally, x64 Windows binaries are
	<a href="https://bitbucket.org/tajtiattila/harmless/downloads">provided</a> on the
	<i class="fa fa-bitbucket"></i> Bitbucket project page.
	New systems and information is added as it becomes available.
	</p>
	<h2>Usage</h2>
	<p>The map displays systems around the selected system in up to a 50 Ly radius. Systems known to have a station
	are displayed with a bold font. Systems outside your bubble with relation to the selected system are faded out.</p>
	<p>Click on a system once to select it, this will show the system info under the search box, and
	show systems within jump range.
	Double click a system in the map or click the
	<button><i class="fa fa-crosshairs"></i></button>button to load the chart centered on this system.</p>
	<p>Use the <button><i class="fa fa-location-arrow"></i></button>button to start route planning. The waypoints and the
	route itinerary is displayed above the main search box. The route will be displayed in the graphic using:
	</p>
	<ul>
		<li>solid lines for legs on chart</li>
		<li>dashed lines for legs partially or completely off chart</li>
		<li><span style="color:cyan;">cyan</span> lines representing valid jumps</li>
		<li><span style="color:red;">red</span> lines connecting waypoints without a route</li>
		<li><span style="color:orange;">orange</span> lines are shown for routes being generated</li>
	</ul>
	<h2>Setup</h2>
	<p>
	As of now no session data is stored on the server, all settings are stored locally
	using the local storage API of the browser.
	</p>
	<p>
	<a name="shipsetup"></a>
	<i>Jump range</i> and <i>fuel capacity</i> are always visible in the bottom right corner of the in-game outfitting
	interface, where you buy new equipment for your ship. <i>Max fuel per jump</i> is shown only when using
	the "compare" option on your frame shift drive, this means it works only, if the station has at least
	one frame shift drive for sale, so it's best to remember or write down when buying a new drive.
	This last value is an attribute of the frame shift drive in question, so it will not change if
	you swap out other parts of your ship, or fill up your cargo space.</p>

	<p><i>Jump range</i> alone is sufficient to calculate which systems are reachable. For fuel use calculation
	three other values are necessary: in addition to <i>max fuel per jump</i> and <i>fuel capacity</i>, the equally
	important <i>exponent value</i> for the ship drive in question. The <i>exponent value</i> is not shown in
	game, therefore is unavailable until someone spends the time to figure them out.
	This value means how much fuel is conserved
	when two or more shorter jumps are used to reach a destination instead of a single long jump.
	Not setting this value is safe: it will yield more fuel left in-game than calculated
	in the route planner, but this will result in paths using more jumps than necessary.
	</p>
	<p>The meaning of routing options are below.</p>
	<ul>
	<li><i>Fuel scoop</i> minimizes number of jumps, and assumes that you can refuel everywhere.</li>
	<li><i>Fewer jumps</i> minimizes number of jumps, but assumes you need to dock at a staton to refuel.</li>
	<li><i>Save fuel</i> minimizes refuel costs by taking many shorter jumps instead of longer ones.</li>
	</ul>
	<p>Old Beta 2 values for <i>max fuel per jump</i> and <i>exponent value</i> are listed in this table:</p>
	</p>
	<table>
		<tr><th>FSD Class</th><th>Max fuel per jump</th><th>Exponent value</th></tr>
		<tr><td>Class 2</td><td class="num">0.6</td><td class="num">2.00</td></tr>
		<tr><td>Class 3</td><td class="num">1.2</td><td class="num">2.15</td></tr>
		<tr><td>Class 4</td><td class="num">2.0</td><td class="num">2.30</td></tr>
		<tr><td>Class 5</td><td class="num">?</td><td class="num">2.45</td></tr>
		<tr><td>Class 6</td><td class="num">?</td><td class="num">2.60</td></tr>
		<tr><td>Class 7</td><td class="num">?</td><td class="num">2.75</td></tr>
		<tr><td>Class 8</td><td class="num">48.5?</td><td class="num">2.90</td></tr>
	</table>
	<h2>Special Thanks</h2>
	<ul>
		<li><a href="http://forums.frontier.co.uk/showthread.php?t=43362">Coordinates thread</a> — community effort to find missing systems and calculate coordinates for Beta 2/3</li>
		<li><a href="http://www.fenris.co.uk/elite/">Fenris Wolf</a> — elite commander news, with thanks for the starchart project logo</li>
	</ul>
	<h2>Links</h2>
	<ul>
		<li><a href="http://www.elitedangerous.com/">Elite: Dangerous</a></li>
		<li><a href="https://bitbucket.org/tajtiattila/harmless"><i class="fa fa-bitbucket"></i> Bitbucket Project Page</a> — source code, issue tracker</li>
		<li><a href="http://forums.frontier.co.uk/showthread.php?t=48429">Project Forum Thread</a> — drop a line there if you find my map useful</li>
		<li><a href="https://bitbucket.org/kfsone/tradedangerous">TradeDangerous</a> — power-user trade optimizer</li>
		<li><a href="http://www.davek.com.au/td/default.asp">Maddavo's Market Share</a> — price data source</li>
	</ul>

	</div>
</body>
</html>
{{end}}
