{{define "edit"}}<!DOCTYPE html>
<html lang="en">
<head>
	<title>Starchart</title>
	<meta property="harmless:prefix" content="{{$.Prefix}}"/>
	<meta property="harmless:apiurl" content="{{$.API}}"/>
	<link href='//fonts.googleapis.com/css?family=Oswald:300,400|Roboto:400italic,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{.Prefix}}/pages.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{.Prefix}}/image/starchart.ico"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="{{$.Prefix}}/js/starc.js"></script>
	<style>
		html, body { margin:0; padding:0; }
	</style>
</head>
<body>
	{{template "navbar" .}}
	<div id="editinfo"><p><i class="fa fa-warning"></i> This page allows you to edit the system
		selected on the map.</p><p>Changes are saved to the live database and
		are subject to human review. Please try to be precise and don't forget to save any edits you make.
		It is not a problem if you don't know all the details: you don't see stations in the galaxy map,
		and black market can be checked only if you actually dock. Empty fields
		are considered to be equal to "none". Fields are subject to change as the game evolves.</p>
		<p>The meaning of facility buttons are:
			<button class="toggle indeterminate">unknown</button>
			<button class="toggle">not available</button>
			<button class="toggle checked">available</button>
		</p>
		<p>The system view lists available facilities after clicking on a station, everything else is not available,
		with the notable exception being Black market: it can be checked only by docking at the station and
		checking the contacts page.</p>
	</div>
	<div id="content">
	</div>
</body>
<script src="{{$.Prefix}}/js/edit.js"></script>
</html>
{{end}}
